$gray_dark: #1F2124;
$gray_light: #3B3B3B;
$gray_text: #B7B7B7;
$border_gray: #44484D;
$green: #60E262;
$red: #FE2B2F;

.main-flight-page-container {
  position: relative;

  .mobile-conainter {
    padding: 15px;
  }

  .overlay-container {
    padding: 25px;
    position: absolute !important;
    z-index: 10;
    top: 0;
    left: 0;
    max-width: 400px;
  }
  
  .map-container {
    position: relative;
    z-index: 1;

    .map-section {
      width: 100%;
      height: 100vh;
    }
  }
}

.flight-section {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  padding: 20px;
  border-radius: 10px;
  border: 1px solid $border_gray;
  
  p { margin: 0 }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icons {
      display: flex;
      gap: 5px;
      align-items: center;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 15px;
      
        &:hover {
          cursor: pointer;
          background-color: rgba(119, 119, 119, 0.5);
        }
      }
    }

    p {
      font-size: 14px;
      color: $gray_text;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
    }
    
    h2 {
      font-size: 22px;
      font-weight: 400;
    }

    hr {
      height: 1.5px;
      border: none;
      background-color: $gray_light;
    }
  }

  .flight-duration {
    display: flex;
    align-items: center;
    margin: 15px 0 15px 0;

    .divider {
      width: 100%;
      border-bottom: 1px dashed $gray_light;
      height: 0;
    }

    p {
      font-size: 12px;
      width: 400px;
      text-align: center;
      background-color: #3b3b3b48;
      border-radius: 25px;
      margin: 0 8px 0 8px;
      padding: 2px 5px 2px 5px;
    }
  }

  .station {
    display: flex;
    justify-content: space-between;

    .airport {
      font-size: 14px;

      .code { 
        font-size: 34px;
        font-weight: 800;
      }
    }

    .time {
      text-align: right;
      font-size: 24px;
      margin-top: 5px;
      
      .status { font-size: 14px; }
      .on-time { color: $green; }
      .delayed { color: $red; }
    }
  }
}

.with-border {
  border: 1px solid $border_gray;
}

.margin-bottom {
  margin-bottom: 15px;
}

.rounded-corners {
  border-radius: 10px;
  overflow: hidden;
}

.aircraft-section {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  padding: 20px;
  border-radius: 10px;
  margin-top: 16px;

  h2 { font-size: 18px; }
  h3 { font-size: 12px; color: $gray_text; font-weight: 200;}

  .descriptor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    .descriptor p {
      margin: 0;
    }

    .descriptor p:first-child {
      font-size: 12px;
      color: $gray_text;
    }
  }
}

.timetable-section {
  
  table {
    background-color: black; 
    color: white;
    margin-top: 20px;

    td:first-child, th:first-child {
      width: 200px;
    }

    th, td {
      border-bottom: 1px solid $border_gray;
      padding: 8px;
      text-align: left;
    }
  }
}