$gray_dark: #1F2124;
$gray_light: #3B3B3B;
$gray_text: #B7B7B7;
$border_gray: #44484D;
$green: #60E262;
$red: #FE2B2F;

.flight-section {
  background-color: $gray_dark;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid $border_gray;
  
  p { margin: 0 }

  .header {
    p {
      font-size: 14px;
      color: $gray_text;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
    }
    h2 {
      font-size: 22px;
      font-weight: 400;
    }

    hr {
      height: 1.5px;
      border: none;
      background-color: $gray_light;
    }
  }

  .flight-duration {
    display: flex;
    align-items: center;
    margin: 15px 0 15px 0;

    .divider {
      width: 100%;
      border-bottom: 1px dashed $gray_light;
      height: 0;
    }

    p {
      font-size: 12px;
      width: 400px;
      text-align: center;
      background-color: $gray_light;
      border-radius: 25px;
      margin: 0 8px 0 8px;
      padding: 2px 5px 2px 5px;
    }
  }

  .station {
    display: flex;
    justify-content: space-between;

    .airport {
      font-size: 14px;

      .code { 
        font-size: 34px;
        font-weight: 800;
      }
    }

    .time {
      text-align: right;
      font-size: 24px;
      margin-top: 5px;
      
      .status { font-size: 14px; }
      .on-time { color: $green; }
      .delayed { color: $red; }
    }
  }
}