<h1>Flight Information</h1>

<% if @view_model.has_flight_data_package? %>
  <% flight_data_package = @view_model.flight_data_package %>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= render 'map', flight: flight_data_package.flight %>
        <%= render 'timetable', flight: flight_data_package.flight %>
      </div>

      <div class="col-md-4">
        <%= render 'flight', flight: flight_data_package.flight %>
        <%= render 'aircraft', aircraft: flight_data_package.aircraft, owner: flight_data_package.owner, tail_number: flight_data_package.flight.tail_number %>
    </div>
  </div>
<% else %>
  <p>No flight data available.</p>
<% end %>

