<div class="application-footer">
  <p>FlightFlight ® 2024</p>
  <p>East Village, NY</p>
  <br>
  <p class="flight-aware-link"><a href="https://www.flightaware.com" target="_blank">Powered by <u>Flight Aware</u></a>
</div>